<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Mile High Bibliophiles</title>
    <link href="https://fonts.googleapis.com/css?family=Shrikhand|Libre+Baskerville|Permanent+Marker|Poppins:500|Ubuntu:300" rel="stylesheet">
  </head>
  <div id='header'>
    <div hidden id='blob'>
    </div>
    <div id='header_color'>
    </div>
    <div id='header_mhb'>Mile High Bibliophiles</div>
  </div>
  <div id='navbar'>
    <% if flash[:failure] %>
    <p id='flash1'><%= flash[:failure] %></p>
    <button id='sign_up'>Sign Up</button>
    <button id='log_in'>Log In</button>
    <% elsif flash[:login_error] %>
    <p id='flash2'><%= flash[:login_error] %></p>
    <button id='sign_up'>Sign Up</button>
    <button id='log_in'>Log In</button>
    <% elsif current_user && current_user.admin? %>
    <p id='welcome'> Welcome <%= current_user.first_name %> <%= current_user.last_name %></p>
    <%= button_to 'administration', admin_bibliophile_admin_path, method: 'get', form_class: 'admin_link', id: 'admin_link' %>
    <%= button_to 'Log Out', session_logout_path, method: 'delete', form_class: 'log_out', id: 'log_out'%>
    <% elsif current_user %>
    <p id='welcome'> Welcome <%= current_user.first_name %> <%= current_user.last_name %></p>
    <%= button_to 'Log Out', session_logout_path, method: 'delete', form_class: 'log_out', id: 'log_out'%>
    <% else %>
    <p id='welcome'>Welcome, please sign in or sign up!</p>
    <button id='sign_up'>Sign Up</button>
    <button id='log_in'>Log In</button>
    <% end %>
  </div>
    <div id='sign_up_modal'>
      <div id='sign_up_form'>
        <p id='sign_up_close'>&times;</p>
        <p id='sign_up_message'>SIGN UP FOR MILE HIGH BIBLIOPHILES</p>
        <%= form_for @user, multipart: true do |f| %>
          <%= f.label(:first_name, 'First Name', id: 'label') %><br>
          <%= f.text_field(:first_name, class: 'field') %><br>
          <%= f.label(:last_name, 'Last Name', id: 'label') %><br>
          <%= f.text_field(:last_name, class: 'field') %><br>
          <%= f.label(:username, 'Username', id: 'label') %><br>
          <%= f.text_field(:username, class: 'field') %><br>
          <%= f.label(:password, 'Password', id: 'label') %><br>
          <%= f.password_field(:password, class: 'field') %><br>
          <%= f.label(:email, 'Email', id: 'label') %><br>
          <%= f.email_field(:email, class: 'field') %><br>
          <%= f.label(:bio, 'Bio', id: 'label') %><br>
          <%= f.text_area(:bio, class: 'field') %><br>
          <%= f.label(:photo, 'Upload a Photo', id: 'label') %><br>
          <%= f.file_field(:photo, class: 'field') %><br>
          <%= f.submit("Become A Bibliophile!", class: 'submit_btn') %>
        <% end %>
      </div>
    </div>
    <div id='log_in_modal'>
      <div id='log_in_form'>
        <p id='log_in_close'>&times;</p>
        <p id='log_in_message'>ENTER YOUR USERNAME AND PASSWORD</p>
        <%= form_tag(session_login_path) do %>
          <%= label_tag(:username, 'User Name', id: 'label') %><br>
          <%= text_field_tag(:username, "", class: 'field') %><br>
          <%= label_tag(:password, 'Password', id: 'label') %><br>
          <%= password_field_tag(:password, "", class: 'field') %><br>
          <%= submit_tag("Log In Bibliophile!", class: 'submit_btn') %>
        <% end %>
      </div>
    </div>
    <body id='homepage_body'>
    <div id='message_grid'>
      <div id='message_header'>
        <p id='mhb_message_board'>MHB POSTS</p>
      </div>
      <div id='message_board'>
        <% @posts.each do |message| %>
          <%= image_tag(message.user.photo, id:'message_photo', alt:'user_photo', height:'50', width:'50') %>
          <%= tag.div id: 'message_text' do %>
            <%= link_to("#{message.user.username}", user_path(message.user), id:'message_name') %>
            <%= content_tag(:span, "#{message.create_date}", id:'message_date') %>
            <%= content_tag(:p, "#{message.message}", id:'message_message') %>
          <% end %>
        <% end %>
      </div>
      <% if current_user %>
        <%= form_for @post, url: '#' do |f| %>
          <%= f.submit 'Add Message', id: 'add_message_btn' %>
          <%= f.text_field :message %>
        <% end %>
      <% end %>
      <div id='current_books'>
        <div id='books_header'>
          <p id='mhb_books_board'>Current Book:</p>
        </div>
        <% @books.each do |book| %>
          <%= content_tag(:p, "#{book.title}", id:'book_title') %>
          <%= content_tag(:p, "By #{book.author}", id:'book_author') %>
          <div id='book_photo'>
            <%= image_tag(book.photo, id:'photo_of_book', alt:'book_photo') %>
          </div>
        <% end %>
      </div>
      <div id='upcoming_events'>
        <div id='events_header'>
          <p>Upcoming Events:</p>
        </div>
        <div id='upcomming_events_body'>
          <div id='events_body'>
            <% if @events.empty? %>
              <%= content_tag(:p, "> There are no current events posted.") %>
            <% else %>
              <% @events.each do |event| %>
                <%= content_tag(:p, "> #{event.message}") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
  </footer>
  <%= javascript_include_tag 'root_page.js' %>
  <%= javascript_include_tag 'cable.js' %>
</html>
