<div id='navbar'>
  <p id='welcome'>THIS IS THE MHB MESSAGE BOARD</p>
  <p id='homepage_link'>Back to the <%= link_to "homepage", root_path %></p>
</div>
<div id='upcoming_events'>
  <div id='events_header'>
    <p>Upcoming Events:</p>
  </div>
  <div id='upcomming_events_body'>
    <div id='events_body'>
      <% if @events.empty? %>
        <%= content_tag(:p, "> There are no current events posted.") %>
      <% else %>
        <% @events.each do |event| %>
          <%= content_tag(:p, "> #{event.message}") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div id='message_grid'>
  <div id='message_header'>
    <p id='mhb_message_board'>MHB POSTS</p>
  </div>
  <div id='message_board'>
    <% @posts.each do |message| %>
      <%= image_tag(message.user.photo, id:'message_photo', alt:'user_photo', height:'50', width:'50') %>
      <%= tag.div id: 'message_text' do %>
        <%= link_to("#{message.user.username}", user_path(message.user), id:'message_name') %>
        <%= content_tag(:span, "#{message.create_date}", id:'message_date') %>
        <%= content_tag(:p, "#{message.message}", id:'message_message') %>
      <% end %>
    <% end %>
  </div>
  <% if current_user %>
    <%= form_for @post, url: '#' do |f| %>
      <%= f.submit 'Add Message', id: 'add_message_btn' %>
      <%= f.text_field :message %>
    <% end %>
  <% end %>
</div>
<%= javascript_include_tag 'cable.js' %>
