<div id='navbar'>
  <% if current_user %>
  <p id='welcome'> Welcome <%= current_user.first_name %> <%= current_user.last_name %></p>
  <p id='homepage_link'>Back to the <%= link_to "homepage", root_path %> or <%= link_to "Discussion", message_board_path %></p>
  <% else %>
  <p id='welcome'>Welcome, Go to the <%= link_to "homepage", root_path %> to sign in or sign up!</p>
  <% end %>
</div>
<body id='profile_body'>
  <header id=profile_header>
    MHB Profile for: <%= @user.first_name %> <%= @user.last_name %>
  </header>
  <div id='profile_information'>
    <div id='profile_photo_div'>
      <%= image_tag(@user.photo, id:'profile_photo', alt:'profile_photo') %>
    </div>
    <div id='user_text'>
      User Name: <%= @user.username %><br>
      Email: <%= @user.email %><br>
      Bio: <%= @user.bio %>
    </div>
  </div>
</body>
