<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Mile High Bibliophiles</title>
    <link href="https://fonts.googleapis.com/css?family=Shrikhand|Libre+Baskerville|Permanent+Marker|Poppins:500|Ubuntu:300|Averia+Serif+Libre" rel="stylesheet">
  </head>
  <div id='navbar'>
    <% if current_user %>
    <p id='welcome'> Welcome <%= current_user.first_name %> <%= current_user.last_name %></p>
    <%= button_to 'Log Out', session_logout_path, method: 'delete', form_class: 'log_out', id: 'log_out'%>
    <% else %>
    <p id='welcome'>Welcome, Go to the <%= link_to "homepage", root_path %> to sign in or sign up!</p>
    <% end %>
  </div>
  <body id='profile_body'>
    <header id=profile_header>
      MHB Profile for: <%= @user.first_name %> <%= @user.last_name %>
    </header>
    <div id='profile_information'>
      <%= image_tag(@user.photo, id:'profile_photo', alt:'profile_photo') %>
      <div id='user_text'>
        User Name: <%= @user.username %><br>
        Email: <%= @user.email %><br>
        Bio: <%= @user.bio %>
      </div>
    </div>
  </body>
</html>
