<div id='users'>
  <% @users.each do |user| %>
    <%= form_for user, url: admin_bibliophile_admin_user_update_path do |f| %>
      <%= content_tag(:p, "#{user.first_name} #{user.last_name}") %>
      <%= content_tag(:p, "#{user.auth_type}") %>
      <%= content_tag(:p, "#{user.email}") %>
      <%= f.hidden_field('id') %>
      <%= f.select('auth_type', User.auth_types.collect {|key, val| [key]}) %>
      <%= f.submit("Create Admin") %>
    <% end %>
    <%= form_for user, :html => {class: 'delete_user_admin'}, method: :delete do |f| %>
      <%= f.submit("Delete User") %>
    <% end %>
  <% end %>
</div>
